# See https:*//help.ithub.com/articles/inorin-files/ for more about inorin files.

# vim files
*/*.swp
*/*.swo
*/*.swn
*/*.bak
*/*.un~
*/*.viminfo
*/*.netrwhist
*/*.svl
*/*.svm
*/*.svn
*/*.svo
*/*.svp
*/*.svq
*/*.svr
*/*.svs
*/*.svt
*/*.svu
*/*.svv
*/*.svw
*/*.svx
*/*.svy
*/*.svz


# dependencies
*/node_modules
*/.pnp
.pnp.js

# testin
*/covergae

# production
*/build

# misc
.DS_Store
*/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debu.lo
yarn-debu.lo
yarn-error.lo
